@model NetworkProject.Models.Link

@{
    ViewBag.Title = "Create New Link";
}

<h2>Create Link</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Node</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.SourceNode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SourceNode.NodeID, new SelectList(ViewBag.Nodes, "NodeID", "Name", ViewBag.SourceNodeId), "Select Node Source")
                @Html.ValidationMessageFor(model => model.SourceNode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TargetNode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TargetNode.NodeID, new SelectList(ViewBag.Nodes, "NodeID", "Name", ViewBag.TargetNodeId), "Select Node Target")
                @Html.ValidationMessageFor(model => model.TargetNode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create New Link" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Level1")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
